@use "styles/abstracts/colors";
@use "styles/abstracts/typography";
@use "styles/abstracts/spacings";
@use "styles/components/input";
@use "styles/components/dialog";
@use "styles/components/button";
@use "styles/components/card";
@use "styles/utils/helper";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
