@use "styles/colors";
@use "styles/typography";
@use "styles/helper";
@use "styles/components/input";
@use "styles/components/dialog";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
