@use "../../../../styles/utils/mixins.scss" as mixins;
@use "../../../../styles/abstracts/typography" as typo;

.planets-grid {
    display: grid;
    gap: var(--spacing-md);
    grid-template-columns: repeat(4, 1fr);

    @include mixins.from-desktop-down {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mixins.from-tablet-down {
        grid-template-columns: repeat(1, 1fr);
    }
}

app-planet-avatar {
    margin-bottom: var(--spacing-sm);
    color: var(--title-color);
}

.app-card {
    min-height: 515px;
}

.planet-info {
    text-align: center;

    h3 {
        margin: 0;
        @include typo.large-heading();
    }

    .planet-description {
        @include typo.large-text();
        color: var(--gray-base);
        margin: var(--spacing-lg) 0 var(--spacing-sm);
    }
}

.planet-details {
    margin-top: auto;
    @include typo.regular-text();
    color: var(--gray-base);
    display: grid;
    gap: var(--spacing-md);
    grid-template-columns: 1fr 1fr;

    h5 {
        margin-bottom: var(--spacing-2xs);
        color: var(--title-color);
        @include typo.xs-heading-bold();
    }
}
