@use "../../../../styles/utils/mixins.scss" as mixins;

.planets-grid {
    display: grid;
    gap: var(--spacing-md);
    grid-template-columns: repeat(4, 1fr);

    @include mixins.from-desktop-down {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mixins.from-tablet-down {
        grid-template-columns: repeat(1, 1fr);
    }
}

.planet-card {
    background: white;
    border-radius: 12px;
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planet-avatar {
    @include mixins.planets-avatar(80px);
    margin-bottom: var(--spacing-sm);
}

.planet-info {
    text-align: center;

    h3 {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
    }

    .planet-description {
        font-size: 14px;
        color: #666;
        margin: 4px 0 12px;
    }
}

.planet-details {
    margin-top: auto;
    font-size: 13px;
    color: #444;
    display: grid;
    gap: var(--spacing-md);
    grid-template-columns: 1fr 1fr;
}
