@mixin mat-icon-size($size) {
    height: $size;
    width: $size;
    font-size: $size;
    line-height: $size;
}

@mixin from-desktop-down {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin from-tablet-down {
    @media (max-width: 768px) {
        @content;
    }
}
