@use "../../../../styles/utils/mixins.scss" as mixins;
@use "../../../../styles/abstracts/typography" as typo;

:host {
    display: block;
    padding: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--title-color);
}

mat-icon {
    @include mixins.mat-icon-size(60px);
    margin-bottom: var(--spacing-default);
}

h1 {
    @include typo.small-heading-bold();
    padding: 0;
    margin-bottom: var(--spacing-md);
}

p {
    @include typo.large-text();
    text-align: center;
}

.footer-actions {
    margin-top: var(--spacing-lg);
    display: flex;
    align-items: center;
    gap: var(--spacing-default);
}
