@mixin xs-heading() {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

@mixin xs-heading-bold() {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

@mixin small-heading-bold() {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

@mixin regular-heading() {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

@mixin large-heading() {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
}

@mixin title-text() {
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
}

@mixin regular-text() {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

@mixin large-text() {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
