@use "../../../../styles/utils/mixins.scss" as mixins;

:host {
    flex: 0 0 auto;
}

.planets-header {
    padding: var(--spacing-xl);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--spacing-default);
}

.planets-title {
    font-size: var(--title-font-size);
    font-weight: 700;
    line-height: 40px;
    color: var(--title-color);
    margin: 0;
}
