@use "../../../../styles/utils/mixins.scss" as mixins;
@use "../../../../styles/abstracts/typography" as typo;

:host {
    flex: 0 0 auto;
}

.planets-header {
    padding: var(--spacing-xl);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--spacing-default);
}

.planets-title {
    @include typo.title-text();
    color: var(--title-color);
    margin: 0;
}
