:root {
    --mdc-filled-button-container-shape: 4px;
}

button.mdc-button {
    min-width: 120px;

    &.primary {
        --mdc-filled-button-container-color: var(--primary-button-color);
    }

    &.secondary {
        --mdc-filled-button-container-color: var(--secondary-button-color);
    }

    &.tertiary {
        --mdc-filled-button-container-color: var(--tertiary-button-color);
        --mdc-filled-button-label-text-color: var(--green-color);
    }
}
