:root {
    --mdc-filled-button-container-color-primary: var(--primary-button-color);
    --mdc-filled-button-container-color-secondary: var(
        --secondary-button-color
    );
    --mdc-filled-button-container-color-tertiary: var(--tertiary-button-color);
    --mdc-filled-button-container-shape: 4px;
}

button.mdc-button {
    min-width: 120px;

    &.primary {
        --mdc-filled-button-container-color: var(
            --mdc-filled-button-container-color-primary
        );
    }

    &.secondary {
        --mdc-filled-button-container-color: var(
            --mdc-filled-button-container-color-secondary
        );
    }

    &.tertiary {
        --mdc-filled-button-container-color: var(
            --mdc-filled-button-container-color-tertiary
        );
        --mdc-filled-button-label-text-color: var(--green-color);
    }
}
