@use "../../../styles/mixins" as mixins;

:host {
    flex: 0 0 auto;
}

.planets-header {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.planets-title {
    font-size: var(--title-font-size);
    font-weight: 700;
    line-height: 40px;
    color: var(--title-color);
    margin: 0;
}
