<header class="planets-header">
    <h1 class="planets-title">Planets</h1>

    <div class="planets-header__right-side">
        <div class="toggle-view-buttons">
            <mat-icon svgIcon="planets-grid"></mat-icon>
            <div class="separator"></div>
            <mat-icon svgIcon="planets-list"></mat-icon>
        </div>

        <mat-form-field appearance="outline" class="search-field">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput placeholder="Search..." />
        </mat-form-field>
        <button mat-flat-button class="secondary">New planet</button>
    </div>
</header>
