@use "../../../styles/mixins" as mixins;

.form-field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;
}

.form-field-photo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .browse-button {
        --mdc-filled-button-container-color: rgba(89, 95, 96, 1);
    }

    label {
        font-size: 14px;
    }
}

.flex-row {
    display: flex;
    gap: 20px;

    > .form-field-wrapper {
        flex: 1;
    }
}

label {
    color: rgba(89, 95, 96, 1);
    font-size: 12px;
}

.file-input {
    display: none;
}

.planet-avatar {
    @include mixins.planets-avatar(80px);
}
