.planets-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    main {
        flex: 1 1 auto;
        overflow: auto;
        background-color: var(--background-color);
        padding: 40px;
    }
}
