@use "../../../../styles/utils/mixins.scss" as mixins;
@use "../../../../styles/abstracts/typography" as typo;

:host {
    display: block;
}

.planets-grid {
    display: grid;
    gap: var(--spacing-default);
    grid-template-columns: 4fr 2fr 1fr;

    @include mixins.from-desktop-down {
        grid-template-columns: repeat(2, 1fr);

        .planet-card-large {
            grid-column: 1 / -1;
        }
    }

    @include mixins.from-tablet-down {
        grid-template-columns: repeat(1, 1fr);
    }
}

.planet-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-default);

    > .app-card {
        flex: 1;
        justify-content: center;

        > span {
            color: var(--light-gray);
            @include typo.regular-text();
        }

        > h5 {
            color: var(--title-color);
            @include typo.regular-heading();
            margin: var(--spacing-2xs);
        }
    }
}

.planet-card-large {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-lg);

    .planet-description {
        max-width: 325px;

        > h3 {
            color: var(--title-color);
            @include typo.large-heading();
        }

        > p {
            color: var(--gray-base);
            @include typo.large-text();
        }
    }
}

.planet-avatar {
    @include mixins.planets-avatar(180px);
}
