@use "../../../../styles/utils/mixins.scss" as mixins;
@use "../../../../styles/abstracts/typography" as typo;

.planet-cell {
    display: grid;
    grid-template-columns: 60px 1fr; /* avatar fixed, text takes rest */
    align-items: center;
    gap: var(--spacing-sm);

    .planet-info {
        overflow: hidden;
        max-width: 300px;

        .planet-description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--light-gray-20);

            @include typo.regular-text();
        }
    }
}

table.mat-table {
    width: 100%;
    table-layout: fixed;
}

.mat-column-planetName {
    width: 40%;
    padding: var(--spacing-xs) var(--spacing-default);
}

.mat-column-planetColor,
.mat-column-planetRadiusKM,
.mat-column-distanceFromSun,
.mat-column-distanceFromEarth {
    width: 15%;
}
