@use "../../../../styles/utils/mixins.scss" as mixins;
@use "../../../../styles/abstracts/typography" as typo;

.planet-cell {
    display: grid;
    grid-template-columns: var(--spacing-xl) 1fr; /* avatar fixed, text takes rest */
    align-items: center;
    gap: var(--spacing-sm);

    .planet-avatar {
        @include mixins.planets-avatar(40px);
    }

    .planet-info {
        overflow: hidden;

        .planet-name {
            font-weight: 500;
        }

        .planet-description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--gray-base);

            @include typo.regular-text();
        }
    }
}

table.mat-table {
    width: 100%;
    table-layout: fixed;
}

.mat-column-planetName {
    width: 30%;
}

.mat-column-planetColor,
.mat-column-planetRadiusKM,
.mat-column-distanceFromSun,
.mat-column-distanceFromEarth {
    width: 17.5%;
}
