@use "../../../../styles/utils/mixins.scss" as mixins;

:host {
    display: flex;
    gap: var(--spacing-default);
    align-items: center;
    flex-wrap: wrap;
}

.toggle-view-buttons {
    height: 28px;
    display: flex;
    gap: var(--spacing-2xs);

    mat-icon {
        @include mixins.mat-icon-size(28px);
        cursor: pointer;

        &.active {
            ::ng-deep path {
                fill: var(--green-color);
            }
            background-color: var(--tertiary-button-color);
            border-radius: var(--spacing-2xs);
        }
    }
}

.separator {
    height: 100%;
    width: 1px;
    background-color: var(--light-gray);
}

.search-field {
    mat-icon {
        @include mixins.mat-icon-size(20px);
    }
}
