$background-color: rgba(236, 239, 244, 1);
$gray-d60: rgba(36, 38, 38, 1);
$gray-l80: rgba(222, 223, 223, 1);
$gray-base: rgba(89, 95, 96, 1);
$green-color: rgba(18, 81, 105, 1);
$primary-button-color: rgba(1, 31, 73, 1);
$secondary-button-color: rgba(76, 57, 111, 1);
$tertiary-button-color: rgba(208, 220, 225, 1);

:root {
    --title-color: #{$gray-d60};
    --background-color: #{$background-color};
    --light-gray: #{$gray-l80};
    --green-color: #{$green-color};
    --gray-base: #{$gray-base};
}

:root {
    --mdc-filled-button-container-color-primary: #{$primary-button-color};
    --mdc-filled-button-container-color-secondary: #{$secondary-button-color};
    --mdc-filled-button-container-color-tertiary: #{$tertiary-button-color};

    --mdc-filled-button-container-shape: 4px;
}
